*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fixed {
  a {
    color: #000;
    text-decoration: none;
  }

  &--pos-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--role {
    &-title {
      width: 100px;
      padding: 24px;
    }

    &-top {
      padding-right: 24px;
    }

    &-btn {
      display: flex;
      gap: 24px;
      align-items: center;
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  margin: 0;

  &--role-desc {
    padding-block: 230px 400px;
    font-size: 48px;
    font-weight: 400;
  }

  &--role-desc2 {
    width: 100%;
    max-width: 800px; // 가독성을 위해 최대 너비를 설정합니다.
    padding-block: 70px 200px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word; // 텍스트가 길어지면 자동으로 줄 바꿈이 되도록 설정합니다.
  }

  &--role-character {
    position: fixed;
    top: 200px; /* 화면 상단에서 20px 아래에 위치하도록 설정 */
    right: 5px; /* 화면 오른쪽에서 10px 떨어진 곳에 위치하도록 설정 */
    max-width: 300px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #000;

  &--role-logo {
    max-width: 700px;
    padding-top: 130px;
  }

  &--role-info {
    padding: 20px;
  }
}
