@charset "UTF-8";
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fixed a {
  color: #000;
  text-decoration: none;
}
.fixed--pos-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fixed--role-title {
  width: 100px;
  padding: 24px;
}
.fixed--role-top {
  padding-right: 24px;
}
.fixed--role-btn {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  margin: 0;
}
.hero--role-desc {
  padding-block: 230px 400px;
  font-size: 48px;
  font-weight: 400;
}
.hero--role-desc2 {
  width: 100%;
  max-width: 800px;
  padding-block: 70px 200px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
}
.hero--role-character {
  position: fixed;
  top: 200px; /* 화면 상단에서 20px 아래에 위치하도록 설정 */
  right: 5px; /* 화면 오른쪽에서 10px 떨어진 곳에 위치하도록 설정 */
  max-width: 300px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #000;
}
.bottom--role-logo {
  max-width: 700px;
  padding-top: 130px;
}
.bottom--role-info {
  padding: 20px;
}