*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fixed {
  padding: 10px;

  a {
    color: #000;
    text-decoration: none;
  }

  &--pos-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--role {
    &-title {
      width: 100px;
    }

    &-btn {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }
}

.hero {
  padding-block: 70px 200px;
  padding-inline: 100px;
  margin: 0;

  &--role-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  &--role-character {
    max-width: 300px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #000;

  &--role-logo {
    max-width: 700px;
    padding-top: 130px;
  }

  &--role-info {
    padding: 20px;
  }
}
